body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

header {
    height: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
}

.headersocial {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.social {
    border: 1px solid black;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    cursor: pointer;
    border: 0.1px;
    background-color: rgba(0, 0, 0, 0.089);
    font-size: 15px;
    color: hsl(0, 0%, 47%);
    ;

}

.social:hover {
    background-color: hsl(353, 100%, 78%);
    transition-duration: 0.5s;
    transition-delay: 0.01s;
    border: 0.1px;
    color: aliceblue;

}

.headerbtn {
    align-self: center;
    margin-right: 30px;

}

.headerbtn {
    background-color: white;
    border-radius: 8px;
    border: 2px;
    color: hsl(353, 100%, 78%);
    font-family: sans-serif;
    cursor: pointer;
    padding: 5px;
    margin-right: 15px;
    font-size: larger;
    border-style: inset;
    border-color: hsl(353, 100%, 78%);

}

.headerbtn:hover {
    background-color: hsl(353, 100%, 78%);
    transition-duration: 0.5s;
    transition-delay: 0.01s;
    color: white;
    border-style: inset;
    border-color: hsl(350, 4%, 71%);
    transition: 1s;
}

.out {
    background-color: white;
    border-radius: 8px;
    border: 2px;
    color: hsl(353, 100%, 78%);
    font-family: sans-serif;
    cursor: pointer;
    padding: 5px;
    margin-right: 15px;
    font-size: larger;
    border-style: inset;
    border-color: hsl(353, 100%, 78%);
    margin-left: 970px;

}

.out :hover {
    background-color: hsl(353, 100%, 78%);
    transition-duration: 0.5s;
    transition-delay: 0.01s;
    color: white;
    border-style: inset;
    border-color: hsl(350, 4%, 71%);
    transition: 1s;
}

hr {
    border-color: rgba(128, 128, 128, 0.173);
}

.logo {
    width: 130px;
    height: 80px;
    margin-left: 90px;
    align-self: center;

}

#secheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.search {
    margin-right: 30px;
    align-self: center;
    position: relative;
}

.search>input {
    height: 40px;
    width: 850px;
    border-radius: 8px;
    border: 0.001px solid rgba(128, 128, 128, 0.2);
}

.search>i {
    position: absolute;
    top: 14px;
    right: 15px;
    cursor: pointer;
}

.search>i:hover {
    color: hsl(353, 100%, 78%);
    transition-duration: 0.5s;
    transition-delay: 0.001s;

}

.profile {

    align-self: center;
    margin-top: 35px;
    margin-right: 20px;

}

.profile>i {
    margin-right: 25px;
    cursor: pointer;
    color: hsla(0, 0%, 0%, 0.832);
    border-radius: 25px;
    width: 45px;
    height: 45px;
    font-size: 23px;
}

.cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cat>div {
    margin-left: 30px;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.832);
    font-size: 16px;
    cursor: pointer;
}

.cat>div:hover,
.navmobile>i:hover {
    color: hsl(353, 100%, 78%);
    transition: 0.2s;
}

.profile>i:hover {
    color: hsl(353, 100%, 78%);

}



@media (min-width:100px) and (max-width:1150px) {
    .profile {
        display: none;
    }


    .logo {
        width: 130px;
        height: 80px;
        align-self: center;
        margin-right: 100px;

    }

    #secheader {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;


    }

    .search>input {
        height: 40px;
        width: 450px;
        border-radius: 8px;
        border: 0.001px solid rgba(128, 128, 128, 0.2);
        justify-content: center;
        font-family: "Poppins", sans-serif;

    }

    .cat {
        display: none;
    }




}

@media (min-width:1101px) {

    .profile {
        display: none;
    }

    #secheader {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .search>input {
        height: 40px;
        width: 650px;
        border-radius: 8px;
        border: 0.001px solid rgba(128, 128, 128, 0.2);
    }



}

.navmobile {
    background-color: hsl(0, 100%, 100%);
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0 10px hsl(0deg 0% 0% / 25%);
    height: 45px;
    max-width: 700px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    border-radius: 10px;
    z-index: 20;
}

.navmobile>i {

    font-size: 26px;
    cursor: pointer;
    color: hsla(0, 0%, 0%, 0.832);

}

@media (min-width:1001px) {
    .navmobile {
        display: none;
    }
}


#sidemenu {
    background-color: hsl(0, 100%, 100%);
    height: 100%;
    z-index: 20;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 10px hsl(0deg 0% 0% / 10%);
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.6s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#sidemenu>div>p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: hsl(353, 100%, 78%);

}

#sidemenu>div {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

#sidemenu>div>i {

    margin-top: 25px;
    font-size: 25px;
    cursor: pointer;
}

#sidemenu>a {

    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    color: black;
    margin-left: 50px;

}

#signlogin {

    position: fixed;
    top: 130px;
    right: 160px;
    background-color: white;
    box-shadow: 0 0 10px hsl(0deg 0% 0% / 25%);
    width: 200px;
    height: 120px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;

}

#signlogin>a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 20px;
}

#exit {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s ease;
}

.slider {

    display: flex;
    width: 100%;

    height: 480px;
    max-width: 1300px;
    position: relative;
    margin: auto;
    margin-top: 15px;

}

.slider>img {

    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.9;

}

.sectiontwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 550px;
    width: 100%;
    margin-top: 90px;
    background-color: rgba(255, 219, 219, 0.692);
    padding-top: 50px;
}

.photo {

    position: relative;
    height: 470px;
    width: 550px;
    margin-top: 20px;

}

.photo>img {
    position: absolute;
    width: 100%;
    border-radius: 10px;
    opacity: 0.9;
    height: 100%;

}

.photo>div {

    background-color: hsla(0, 0%, 100%, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 18px;

}



.photo>div>p {

    font-size: 20px;

}


.photo>div>button {
    color: hsl(0, 0%, 47%);
    font-size: 20px;
    background-color: hsla(0, 0%, 100%, 0.7);
    border: solid hsla(0, 0%, 100%, 0.7);

    cursor: pointer;
    border-radius: 8px;

}

.ourservices>h2 {

    border-bottom: 1px solid hsl(0, 0%, 93%);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: start;
    margin-top: 0;

}

.ceo>h2 {

    border-bottom: 1px solid hsl(0, 0%, 93%);
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
}

.ser>a>i {


    font-size: 25px;
    color: hsl(353, 90%, 71%);
    margin-top: 12px;

}

.ser {

    border: 1px solid hsl(0, 0%, 93%);
    padding: 20px;
    gap: 16px;
    width: 300px;
    border-radius: 8px;
    margin-top: 20px;


}

.ser>a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.ser>a>h2 {

    color: hsl(0, 0%, 47%);
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: left;

}

.ser>a>h2>p {

    font-size: 10px;

}

.Offers {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.img_Producer {
    width: 60px;
    height: 60px;
}

.prod {
    display: flex;
    margin-bottom: 15px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: hsla(353, 100%, 76%, 0.219);
    padding: 10px;
}

.prod:hover {
    background-color: hsla(353, 100%, 78%, 0.301);
    transition: 0.5s;
    outline-color: rgba(136, 132, 132, 0.192);
}

.pri {
    display: flex;
    justify-content: space-between;
}

.info {
    margin-left: 15px;
}

.info .name,
.info .kind {
    margin-bottom: 10px;
}

.name {
    font-size: 15px;
    font-weight: 900;
}

.kind {
    font-size: 13px;
    font-weight: 100;
    color: rgb(73, 73, 73);
}


.kind:hover {
    color: hsl(353, 100%, 78%);
    transition: 0.3s;
}

.price {
    font-size: 15px;
    font-weight: 900;
    color: hsl(353, 100%, 78%);
}


.rival {
    font-size: 12px;
    font-weight: 100;
    color: rgba(73, 73, 73, 0.527);
    margin-left: -62px;
}

/*    our team     */

.our_team .subject,
.name_persn {
    text-align: center;
    margin-top: 10px;


}

.our_team .subject {

    background-color: hsla(350, 4%, 69%, 0.253);

}

.persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
    background-color: hsl(0, 0%, 100%);
}


.img_person {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    text-align: center;
}

h3,
.ourservices h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

.person {
    /* background-color: hsl(353, 100%, 78%); */
    padding: 15px;
    padding-bottom: 50px;
    margin: 15px;
    border-radius: 250px 250px 20px 120px;
    outline-style: auto;


}


.name_persn {
    color: hsl(0, 2%, 18%);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
}

.person:hover {
    background-color: hsla(353, 100%, 78%, 0.521);
    transition: 0.7s;
}

.img_person:hover {
    outline-style: outset;
    outline-width: 5px;
    outline-color: hsl(0, 0%, 97%);
    transition: 0.7s;
    width: 190px;
    height: 190px;
}

.img_person::after {
    content: attr(data-uni);

}

.uni {
    font-size: 10px;
    font-weight: 400;
    width: 200px;
    color: rgb(39, 39, 39);
    text-align: center;
}

/*    up    */

.up {
    position: fixed;
    outline-style: double;
    outline-width: 5px;
    outline-color: rgb(151, 98, 104);
    padding: 7px;
    border-radius: 50px;
    font-size: 19px;
    color: #ffffff;
    background-color: #ff8f9c;
    bottom: 50px;
    right: -50px;
    transition: 2s;
}

.up:hover {
    color: #ff8f9c;
    background-color: #ffffff;
    transition: 0.9s;
}

.upp .show {
    right: 30px;
}

#signlogin {

    z-index: 1000;
}




/* footer */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #ffffff;
    align-items: start;
    min-height: 100vh;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: rgba(255, 219, 219, 0.692);
    border-top: 1px solid #e5e5e5;
    margin-right: -27px;

}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: bold;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: #ff8f9c;
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: hsl(0, 0%, 47%);

    font-family: "Poppins", sans-serif;

}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
    display: contents;

}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav>* {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
        margin-right: -217px;

    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a {
    color: #2f2f2f;
    transition: 0.5s;
}

a:hover {
    color: #ff8f9c;
}


.legal {
    font-weight: bold;
}

.nav__item--extra {
    flex-grow: 2;
    margin-right: -300px;

}


.legal {

    display: flex;
    justify-content: center;
    width: 100px;
}


.mySlides {
    display: none;
}

.footer__btn:hover {
    color: #e5e5e5;
}