header {
    height: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
}

body {
    overflow-x: hidden;

}

.headersocial {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.social {
    border: 1px solid black;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    cursor: pointer;
    border: 0.1px;
    background-color: rgba(0, 0, 0, 0.089);
    font-size: 15px;
    color: hsl(0, 0%, 47%);
    ;

}

.social:hover {
    background-color: hsl(353, 100%, 78%);
    transition-duration: 0.5s;
    transition-delay: 0.01s;
    border: 0.1px;
    color: aliceblue;

}

.headerbtn {
    align-self: center;
    margin-right: 30px;

}

#giftbtn,
#findlab {
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 8px;
    border: 2px;
    height: 30px;
    color: black;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    padding: 5px;
    margin-right:
        5px;


}

#giftbtn:hover,
#findlab:hover {
    background-color: hsl(353, 100%, 78%);
    transition-duration: 0.5s;
    transition-delay: 0.01s;
    color: white;

}

hr {
    border-color: rgba(128, 128, 128, 0.173);
}

.logo {
    width: 130px;
    height: 80px;
    margin-left: 90px;
    align-self: center;

}

#secheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.search {
    margin-right: 30px;
    align-self: center;
    position: relative;
}

.search>input {
    height: 40px;
    width: 850px;
    border-radius: 8px;
    border: 0.001px solid rgba(128, 128, 128, 0.2);
}

.search>i {
    position: absolute;
    top: 14px;
    right: 15px;
    cursor: pointer;
}

.search>i:hover {
    color: hsl(353, 100%, 78%);
    transition-duration: 0.5s;
    transition-delay: 0.001s;

}

.profile {

    align-self: center;
    margin-top: 35px;
    margin-right: 20px;

}

.profile>i {
    margin-right: 25px;
    cursor: pointer;
    color: hsla(0, 0%, 0%, 0.832);
    border-radius: 25px;
    width: 45px;
    height: 45px;
    font-size: 23px;
}

.cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cat>div {
    margin-left: 30px;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.832);
    font-size: 16px;

    cursor: pointer;


}

.profile>i:hover {
    color: hsl(353, 100%, 78%);
}



@media (min-width:100px) and (max-width:1150px) {
    .profile {
        display: none;
    }

    .logo {
        width: 130px;
        height: 80px;
        align-self: center;
        margin-right: 100px;

    }

    #secheader {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;


    }

    .search>input {
        height: 40px;
        width: 450px;
        border-radius: 8px;
        border: 0.001px solid rgba(128, 128, 128, 0.2);
        justify-content: center;
        font-family: "Poppins", sans-serif;

    }

    .cat {
        display: none;
    }




}

@media (min-width:1150px) and (max-width:1360px) {

    .profile {
        display: none;
    }

    #secheader {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .search>input {
        height: 40px;
        width: 650px;
        border-radius: 8px;
        border: 0.001px solid rgba(128, 128, 128, 0.2);
    }



}

.navmobile {
    background-color: hsl(0, 100%, 100%);
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0 10px hsl(0deg 0% 0% / 25%);
    height: 45px;
    max-width: 700px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.navmobile>i {

    font-size: 26px;
    cursor: pointer;
    color: hsla(0, 0%, 0%, 0.832);

}

@media (min-width:1361px) {
    .navmobile {
        display: none;
    }
}


#sidemenu {
    background-color: hsl(0, 100%, 100%);
    height: 100%;
    z-index: 20;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 10px hsl(0deg 0% 0% / 10%);
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.6s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#sidemenu>div>p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: hsl(353, 100%, 78%);

}

#sidemenu>div {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

#sidemenu>div>i {

    margin-top: 25px;
    font-size: 25px;
    cursor: pointer;
}

#sidemenu>a {

    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: black;
    margin-left: 50px;

}



@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 232px;
    height: 316px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    margin: 3px 10px;
}


.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 165, 165);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

/*     background: rgb(255 184 184 / 69%);
 */
.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: "Nike";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(0, 0, 0, 0.04);

}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 270px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {
    /* other bug */
    background: #B90000;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
    background: #1BBFE9;
}

.container .card .contentBx .color span:nth-child(3) {
    background: #1B2FE9;
}

.container .card .contentBx .color span:nth-child(4) {
    background: #080481;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
}



.card {

    width: 300px;
    height: 300px;
    margin: 50px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255 184 184 / 69%);
}


/* footer */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #ffffff;
    align-items: start;
    min-height: 100vh;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: rgba(255, 219, 219, 0.692);
    border-top: 1px solid #e5e5e5;
    margin-right: -27px;

}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: bold;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: #ff8f9c;
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: hsl(0, 0%, 47%);

    font-family: "Poppins", sans-serif;

}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
    display: contents;

}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav>* {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
        margin-right: -217px;

    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}


.legal {

    display: flex;
    justify-content: center;
    width: 100px;
}