/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800'); */

* {
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
}

h1 {
    margin: 0;
}

body {
    background: #f3e0e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

form {
    background-color: #FFFFFF;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    margin-right: 5px;

}

.fa-twitter {
    background: #55ACEE;
    color: white;

}

.fa-google {
    background: #dd4b39;
    color: white;
}




input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 10px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    background-color: rgba(203, 198, 191, 0.67);
}


button {
    border: 1px solid white;
    border-radius: 8px;
    background-color: hsl(353, 100%, 78%);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition-duration: 1s;
    cursor: pointer;

}

button:hover {

    background-color: rgba(0, 0, 0, 0.089);
    color: black;

}

button:focus {
    background-color: rgba(12, 105, 197, 0.826);
}

.first {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 50%;
}

span {
    font-size: 12px;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}




.second {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;

    position: relative;
    width: 50%;
}


.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    opacity: 0.9;
    /* Animations */
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 1.0s ease;

}

/* Animations */
.second:hover .overlay {
    bottom: 0;
    height: 100%;
}


.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    right: 0;
}







.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 35px 2px;

}

.sign {

    font-size: small;
    color: rgb(9, 146, 232);
    margin-top: 1px;
    padding: -1px 10px 10px;
    text-align: right;
    font-weight: bold;


}




/* put photo and animation */

.second {
    position: relative;
    width: 50%;
}

img {
    width: 411px;
    height: 530px;
    display: block;
}



.overlay-panel {

    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.sum {
    transition: 0.5s;
}

.sum:hover {
    width: 250px;
    margin-left: 22px;
    height: 35px;
    background-color: #e6b5ae;
}

#back {
    background-color: rgb(133 108 108 / 83%);
    width: 100%;
    height: 200%;
    display: none;
}

#box {
    position: fixed;
    width: 283px;
    height: 150px;
    border: 1px solid #2d2d2d;
    background-color: #ffffff;
    border-radius: 20px;
    border-color: #2c2625;
    display: none;
}



.info {
    position: sticky;
    top: 310px;
    right: 10px;
    font-size: 15px;


}

#back2 {
    background-color: rgb(133 108 108 / 83%);
    width: 100%;
    height: 200%;
    display: none;
}

#box2 {
    position: fixed;
    width: 270px;
    height: 150px;
    border: 1px solid #2d2d2d;
    background-color: #ffffff;
    border-radius: 20px;
    border-color: #2c2625;
    display: none;
}



.info2 {
    position: sticky;
    top: 300px;
    right: 530px;
    font-size: 13px;
    color: #da6151;
}

.info2 b {
    margin-left: 71px;
}

#back3 {
    background-color: rgb(133 108 108 / 83%);
    width: 100%;
    height: 200%;
    display: none;
}

#box3 {
    position: fixed;
    width: 270px;
    height: 150px;
    border: 1px solid #2d2d2d;
    background-color: #ffffff;
    border-radius: 20px;
    border-color: #2c2625;
    display: none;
}



.info3 {
    position: sticky;
    top: 426px;
    right: 530px;
    font-size: 13px;
    color: #da6151;
}



.ff:hover {
    color: red;
}