* {
    box-sizing: border-box;
}

h1 {
    margin: 20px;
}

body {
    background: #f3e0e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

.bigbox {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 530px;
}

form {
    background-color: #FFFFFF;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 10px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    background-color: rgba(203, 198, 191, 0.67);
}

button {
    border-radius: 20px;
    background-color: hsl(353, 100%, 78%);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition-duration: 1s;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid white;

}

button:hover {

    background-color: rgba(0, 0, 0, 0.089);
    color: black;

}

.first {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 50%;
}

.checkbox {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

hr {
    width: 85%;
    color: black;
    margin: 20px;
}

.OR {
    background: white;
    margin: -30px auto 10px;
    width: 30px;
}

.second {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-position: 40% 100%;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    opacity: 0.9;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 1.0s ease;
}

.second:hover .overlay {
    bottom: 0;
    height: 100%;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    right: 0;
    white-space: nowrap;
    color: white;
    font-size: 20px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

img {
    width: 411px;
    height: 530px;
    display: block;
}



.checkbox {
    display: flex;

}

/* .checkbox>p {
    display: flex;

    width: 300px;
    margin-left: 10px;
    cursor: pointer;
} */

.checkbox>label>span {
    margin-left: 2px;
}

.checkbox label {
    display: flex;
    margin-top: 4px;
    margin-left: 10px;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a {
    color: #2f2f2f;
    transition: 0.5s;
}

a:hover {
    color: #ff8f9c;
}